// Colors

$color-mine-shaft: #282626;
$color-white: #ffffff;
$color-green: #01FF09;


// Typography
$resq: "Resquare", "Arial", sans-serif;
$techmono: "TechMono", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: ease-in 0.3s;
