.wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.window{
    display: flex;
    height: 100%;
}
.navigation{
    //padding: 0 0 10% 2%;
    &_list{
        display: grid;
        margin: 0;
        padding: 0;
        list-style-type: none;
        gap: 40px;
    }

    &_link{
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
        align-items: center;
    }

    &_name{

        font-family: $techmono;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: -0.11em;
        color: $color-green;
        text-align: center;
    }
}

.pseudo-footer{

    border-top: 4px solid $color-green;
    width: 100%;
    height: calc(100dvh * 16.1 / 100);
    text-align: right;
}

.time-wrapper{
    padding-top: 1%;
    padding-right: 1%;
    display: flex;
    flex-direction: column;
    gap: 15%;
}

svg{
    width: calc(100vh * 11.2 / 100);
    height: calc(100vh * 11.2 / 100);
}